<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!--  <typeAlias type="net.scit.std.vo." alias="" /> -->
		<typeAlias type="net.scit.std.vo.memberVO" alias="member" />
		<typeAlias type="net.scit.std.vo.productVO" alias="product" />
		<typeAlias type="net.scit.std.vo.seatVO" alias="seat" />
		<typeAlias type="net.scit.std.vo.tradeVO" alias="trade" />
		<typeAlias type="net.scit.std.vo.useVO" alias="use" />
		<typeAlias type="net.scit.std.vo.chargeVO" alias="charge" />
		<typeAlias type="net.scit.std.vo.laveVO" alias="lave" />
		<typeAlias type="net.scit.std.vo.upChargeVO" alias="upCharge" />
	</typeAliases>
	<mappers>
		<mapper resource="/mappers/stdMapper.xml" />
	</mappers>
</configuration>
