<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.scit.std.dao.stdMapper">

<select id="login" parameterType="member" resultType="member">
SELECT
	userid,
	userpwd
FROM
	Cafe_Member
WHERE
	userid = #{userid}
AND
	userpwd = #{userpwd}
</select>

<insert id="join" parameterType="member">
INSERT INTO
	Cafe_Member
(
	userid, 
	userpwd
) VALUES (
	#{userid},
	#{userpwd}
)
</insert>

<select id="joinChk" parameterType="String" resultType="member">
SELECT
	userid,
	userpwd
FROM
	Cafe_member
WHERE
	userid = #{userid}
</select>

<select id="selectType" parameterType="String" resultType="product">
SELECT
	product_code as productcode,
	product_time as producttime,
	price,
	expiry_time as expirytime,
	product_name as productname
FROM
	Cafe_ProductInfo
WHERE
	product_code like #{productType} || '%'
</select> 

<select id="selectLave" parameterType="map" resultType="lave">
SELECT
	SUM(lave_time) as lavetime
FROM
	Cafe_TradeInfo
WHERE
	userid = #{userid} AND
	product_code like #{productType} || '%'
</select>

<select id="research" parameterType="String" resultType="lave">
SELECT
	product_time as lavetime,
	expiry_time as expirytime,
	price
FROM
	Cafe_ProductInfo
WHERE
	product_code = #{productcode}
</select>

<select id="selectProductOne" parameterType="String" resultType="product">
SELECT
	product_code as productcode,
	product_time as producttime,
	price,
	expiry_time as expirytime,
	product_name as productname
FROM
	Cafe_ProductInfo
WHERE
	product_code = #{productcode}
</select>

<insert id="insertTrade" parameterType="trade">
INSERT INTO
	Cafe_TradeInfo
(
	trade_num, 
	userid, 
	trade_time, 
	lave_expiry, 
	product_code, 
	lave_time
) VALUES (
	trade_num_seq.nextval,
	#{userid},
	SYSDATE,
	#{laveexpiry},
	#{productcode},
	#{lavetime}
)
</insert>

</mapper>
